<template>
  <div
    style="
      width: 400px;
      height: 340px;
      background: linear-gradient(180deg, #4796ff 0%, #2366bf 100%);
    "
    class="rounded-md relative"
  >
    <div
      class="flex items-center gap-1"
      style="margin-left: 28px; padding-top: 72px"
    >
      <img
        src="../assets/Icons/bxs-plane-alt.svg"
        alt="Plane Icon"
        class="w-6 h-6"
      />
      <p class="text-lg font-semibold text-white">my Dream Place</p>
    </div>
    <div
      class="text-2xl font-bold text-white"
      style="width: 195px; margin-left: 28px; margin-top: 30px"
    >
      <p>20% off</p>
      <p>Use Promotional Coupon Code:</p>
      <p style="color: #ffd723">Orlando</p>
    </div>
    <img
      src="../assets/Icons/Frame.svg"
      alt="boy travel icon"
      class="absolute"
      style="right: 69px; top: 35px"
    />
  </div>
</template>

<script setup></script>

<style></style>
