<template>
  <div class="mx-auto" style="max-width: 1440px">
    <section
      class="flex rounded-lg h-16 items-center p-4 gap-4 mx-auto"
      style="
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 75px;
        margin-bottom: 50px;
        max-width: 1440px;
        background: #fcefca;
        width: 1240px;
      "
    >
      <img src="../assets/Icons/danger.svg" alt="danger icon" />
      <div class="flex gap-1">
        <p>Check the latest COVID-19 restrictions before you travel.</p>
        <a href="#learnmore" class="text-blue-500 hover:underline"
          >Learn more</a
        >
      </div>
    </section>
  </div>
</template>

<script setup></script>

<style></style>
