<template>
  <div class="mx-auto" style="max-width: 1440px">
    <section
      style="
        margin-left: 100px;
        margin-right: 100px;
        margin-top: 60px;
        margin-bottom: 80px;
      "
      class="relative"
    >
      <img src="../assets/Imgs/sea.png" alt="sea image" />
      <img
        src="../assets/Imgs/mobile.png"
        alt="mobile image"
        class="absolute top-0 right-0"
      />
      <p
        class="absolute text-white font-semibold"
        style="top: 64px; left: 69px; width: 580px; font-size: 28px"
      >
        Download the mobile application for bonus coupons and travel codes
      </p>
      <button
        class="absolute p-2 text-sm font-medium rounded border border-blue-500 bg-blue-500 text-white"
        style="width: 182px; height: 44px; top: 184px; left: 69px;"
      >
        Download mobile app
      </button>
    </section>
  </div>
</template>

<script setup></script>

<style></style>
