<template>
  <div class="mx-auto" style="max-width: 1440px">
    <section class="flex justify-center mb-20 mx-8">
      <div class="text-center">
        <p class="font-semibold text-3xl mb-4">
          Explore the world with My Dream Place
        </p>
        <a href="#discover" class="text-blue-500 hover:underline"
          >Discover new places and experiences</a
        >
      </div>
    </section>
  </div>
</template>

<script setup></script>

<style></style>
