<template>
  <div>
    <p
      class="font-semibold text-lg mt-5 mb-5"
      style="color: #333; margin-left: 18px"
    >
      Filter by
    </p>
    <div
      style="
        width: 295px;
        height: 346px;
        border: 1px solid var(--Gray-5, #e0e0e0);
        background: #fff;
      "
      class="rounded-md"
    >
      <p
        class="font-semibold text-base"
        style="
          background: #f2f2f2;
          padding: 18px;
          border-bottom: 1px solid var(--Gray-5, #e0e0e0);
        "
      >
        Your budget per day
      </p>
    </div>
  </div>
</template>

<script setup></script>

<style></style>
