<template>
  <footer>
    <div class="mx-auto" style="max-width: 1440px">
      <section style="margin-left: 100px; margin-right: 100px">
        <div
          class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-2 text-sm"
          style="color: #4f4f4f"
        >
          <div>
            <div class="flex">
              <img
                src="../assets/Icons/plane.svg"
                alt="Plane Icon"
                class="w-6 h-6"
              />
              <p class="text-base font-medium text-black mb-5">
                my Dream Place
              </p>
            </div>
            <p>Your next goto companion for travel</p>
          </div>
          <div>
            <p class="text-base font-medium text-black mb-5">Company</p>
            <ul>
              <li class="mb-2.5">About</li>
              <li class="mb-2.5">Jobs</li>
              <li class="mb-2.5">Newsroom</li>
              <li class="mb-2.5">Advertising</li>
              <li class="mb-2.5">Contact Us</li>
            </ul>
          </div>
          <div>
            <p class="text-base font-medium text-black mb-5">Explore</p>
            <ul>
              <li class="mb-2.5">Australia</li>
              <li class="mb-2.5">New Zealand</li>
              <li class="mb-2.5">United States America (USA)</li>
              <li class="mb-2.5">Greece</li>
              <li class="mb-2.5">Maldives</li>
              <li class="mb-2.5">Singapore</li>
              <a href="#seamore" class="text-blue-500 hover:underline"
                >See more</a
              >
            </ul>
          </div>
          <div>
            <p class="text-base font-medium text-black mb-5">
              Terms and Policies
            </p>
            <ul>
              <li class="mb-2.5">Privacy Policy</li>
              <li class="mb-2.5">Terms of use</li>
              <li class="mb-2.5">Acessibility</li>
              <li class="mb-2.5">Reward system policy</li>
            </ul>
          </div>
          <div>
            <p class="text-base font-medium text-black mb-5">Help</p>
            <ul>
              <li class="mb-2.5">Support</li>
              <li class="mb-2.5">Cancel your bookings</li>
              <li class="mb-2.5">Use Coupon</li>
              <li class="mb-2.5">Refund Policies</li>
              <li class="mb-2.5">International Travel Documents</li>
            </ul>
          </div>
        </div>
      </section>
    </div>
    <div
      class="w-full mt-16"
      style="background: #ebebeb; padding: 12px; height: 60px"
    >
      <div
        class="flex gap-2"
        style="justify-content: end; color: #4f4f4f; margin-right: 205px"
      >
        <img
          src="../assets/Icons/copyright.svg"
          alt="Plane Icon"
          class="w-6 h-6"
        />
        <p>my Dream Place 2022</p>
      </div>
    </div>
  </footer>
</template>

<script setup></script>

<style></style>
