<template>
  <div
    style="width: 295px; height: 119px; background: #f2f2f2"
    class="rounded-md"
  >
    <p class="font-semibold text-base ml-5 mr-5 pt-3" style="color: #181818">
      Search by property name
    </p>
    <div class="flex items-center font-normal">
      <span class="absolute ml-4 w-5 h-5">
        <img src="@/assets/Icons/search.svg" alt="icon" class="ml-3" />
      </span>
      <input
        type="text"
        class="mb-5 mt-4 rounded pl-9"
        style="
          height: 44px;
          width: 259px;
          margin-left: 18px;
          margin-right: 18px;
        "
        placeholder="eg. Beach westpalm"
      />
    </div>
  </div>
</template>

<script setup></script>

<style></style>
